In [1]:
%%HTML
<h1>Import Data</h1>

In [2]:
import pandas as pd
df1 = pd.read_csv('./data/210730_HNX_ALL.txt', sep = ',')
df2 = pd.read_csv('./data/210730_HOSE_ALL.txt', sep = ',')
df3 = pd.read_csv('./data/210730_Index_ALL.txt', sep = ',')
df4 = pd.read_csv('./data/210730_UPCOM_ALL.txt', sep = ',')

frames = [df1, df2, df3, df4]
df = pd.concat(frames, ignore_index = True)
print(df)

        <Ticker>  <DTYYYYMMDD>  <Open>  <High>   <Low>  <Close>  <Volume>
0            AAV      20210730  12.400  12.400  12.100   12.400    166400
1            ABT      20210730  26.000  27.200  26.000   27.100      1207
2            ACM      20210730   2.300   2.400   2.300    2.400    592463
3            ADC      20210730  21.500  21.500  21.500   21.500         0
4            ALT      20210730  12.700  12.700  12.700   12.700         0
...          ...           ...     ...     ...     ...      ...       ...
2501310      MTP      20140320   7.100   7.100   7.100    7.100         0
2501311      ND2      20140320   3.656   3.656   3.656    3.656       164
2501312      NDC      20140320   0.022   0.022   0.022    0.022   1963692
2501313      NGC      20140320   5.619   5.619   5.619    5.619      2229
2501314      NNT      20140320   0.000   0.000   0.000    0.000         0

[2501315 rows x 7 columns]

In [3]:
%%HTML
<h2>Extracting Data</h2>

In [4]:
df.columns=df.columns.str.replace('[<,>]','', regex=True)
print(df)

        Ticker  DTYYYYMMDD    Open    High     Low   Close   Volume
0          AAV    20210730  12.400  12.400  12.100  12.400   166400
1          ABT    20210730  26.000  27.200  26.000  27.100     1207
2          ACM    20210730   2.300   2.400   2.300   2.400   592463
3          ADC    20210730  21.500  21.500  21.500  21.500        0
4          ALT    20210730  12.700  12.700  12.700  12.700        0
...        ...         ...     ...     ...     ...     ...      ...
2501310    MTP    20140320   7.100   7.100   7.100   7.100        0
2501311    ND2    20140320   3.656   3.656   3.656   3.656      164
2501312    NDC    20140320   0.022   0.022   0.022   0.022  1963692
2501313    NGC    20140320   5.619   5.619   5.619   5.619     2229
2501314    NNT    20140320   0.000   0.000   0.000   0.000        0

[2501315 rows x 7 columns]

In [5]:
df_modified = df.drop_duplicates(subset = ['Ticker', 'DTYYYYMMDD'], keep = 'first')
print(df_modified)

        Ticker  DTYYYYMMDD    Open    High     Low   Close   Volume
0          AAV    20210730  12.400  12.400  12.100  12.400   166400
1          ABT    20210730  26.000  27.200  26.000  27.100     1207
2          ACM    20210730   2.300   2.400   2.300   2.400   592463
3          ADC    20210730  21.500  21.500  21.500  21.500        0
4          ALT    20210730  12.700  12.700  12.700  12.700        0
...        ...         ...     ...     ...     ...     ...      ...
2501310    MTP    20140320   7.100   7.100   7.100   7.100        0
2501311    ND2    20140320   3.656   3.656   3.656   3.656      164
2501312    NDC    20140320   0.022   0.022   0.022   0.022  1963692
2501313    NGC    20140320   5.619   5.619   5.619   5.619     2229
2501314    NNT    20140320   0.000   0.000   0.000   0.000        0

[2501302 rows x 7 columns]

In [6]:
data = df_modified.pivot(index='DTYYYYMMDD', columns='Ticker', values = 'Close')
print(data)

Ticker       A32    AAA   AAM   AAS   AAT   AAV   ABB   ABC   ABI   ABR  ...  \
DTYYYYMMDD                                                               ...
20020314     NaN    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
20030529     NaN    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
20030530     NaN    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
20030602     NaN    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
20030609     NaN    NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...
...          ...    ...   ...   ...   ...   ...   ...   ...   ...   ...  ...
20210726    30.5  15.45  10.8  11.8  17.5  12.4  18.9  11.6  52.5  22.5  ...
20210727    30.5  16.00  10.5  12.0  17.7  12.4  19.3  11.7  55.3  22.7  ...
20210728    30.5  16.30  10.1  12.2  17.6  12.4  19.0  11.8  55.0  22.7  ...
20210729    30.5  16.15  10.8  12.5  17.6  12.4  20.2  11.8  55.7  22.7  ...
20210730    30.9  16.15  10.9  13.0  17.6  12.4  20.7  11.6  54.3  22.9  ...

Ticker       XHC  XLV   XMC  XMD  XPH   YBC   YBM    YEG  YRC   YTC
DTYYYYMMDD
20020314     NaN  NaN   NaN  NaN  NaN   NaN   NaN    NaN  NaN   NaN
20030529     NaN  NaN   NaN  NaN  NaN   NaN   NaN    NaN  NaN   NaN
20030530     NaN  NaN   NaN  NaN  NaN   NaN   NaN    NaN  NaN   NaN
20030602     NaN  NaN   NaN  NaN  NaN   NaN   NaN    NaN  NaN   NaN
20030609     NaN  NaN   NaN  NaN  NaN   NaN   NaN    NaN  NaN   NaN
...          ...  ...   ...  ...  ...   ...   ...    ...  ...   ...
20210726    24.0  9.6  10.6  1.9  9.2  11.6  6.75  16.20  6.3  78.1
20210727    24.0  9.6  10.6  1.9  9.3   9.9  6.81  15.80  6.3  78.1
20210728    24.0  9.6  10.8  1.9  9.3  10.1  6.84  15.05  6.3  78.1
20210729    24.0  9.6  10.5  1.9  9.4  10.1  6.84  15.40  6.3  78.1
20210730    24.0  9.6  10.5  1.9  9.1   8.7  6.60  15.40  6.3  78.1

[4433 rows x 1665 columns]

In [7]:
%%HTML
<h3>Filtering Data</h3>

In [8]:
data = data.loc[20180102:20181228]
print(data)

Ticker        A32     AAA    AAM  AAS  AAT    AAV  ABB     ABC     ABI  ABR  \
DTYYYYMMDD
20180102      NaN  21.245  6.506  NaN  NaN    NaN  NaN  12.196  22.623  NaN
20180103      NaN  21.310  6.286  NaN  NaN    NaN  NaN  12.031  23.378  NaN
20180104      NaN  21.213  6.286  NaN  NaN    NaN  NaN  12.031  22.875  NaN
20180105      NaN  21.083  6.569  NaN  NaN    NaN  NaN  11.949  23.042  NaN
20180108      NaN  21.698  6.537  NaN  NaN    NaN  NaN  12.031  23.042  NaN
...           ...     ...    ...  ...  ...    ...  ...     ...     ...  ...
20181224    26.22  13.040  9.014  NaN  NaN  7.893  NaN   7.581  21.442  3.1
20181225    26.22  12.776  9.117  NaN  NaN  7.893  NaN   7.581  21.969  3.3
20181226    26.22  12.776  9.186  NaN  NaN  7.893  NaN   7.581  21.969  3.5
20181227    26.22  13.128  9.048  NaN  NaN  7.972  NaN   7.746  21.969  3.6
20181228    26.22  12.952  9.186  NaN  NaN  7.972  NaN   7.663  21.969  4.1

Ticker      ...     XHC    XLV  XMC  XMD  XPH   YBC     YBM    YEG    YRC  \
DTYYYYMMDD  ...
20180102    ...  14.096    NaN  NaN  1.9  6.8  19.5     NaN    NaN  6.299
20180103    ...  14.096    NaN  NaN  1.9  6.8  19.5     NaN    NaN  6.299
20180104    ...  15.583    NaN  NaN  1.9  6.8  19.5     NaN    NaN  6.299
20180105    ...  14.988    NaN  NaN  1.9  6.8  19.5     NaN    NaN  6.299
20180108    ...  14.988    NaN  NaN  1.9  7.2  19.5     NaN    NaN  6.299
...         ...     ...    ...  ...  ...  ...   ...     ...    ...    ...
20181224    ...  11.187  9.047  NaN  1.9  4.8  21.3  13.863  230.0  6.299
20181225    ...  11.187  9.047  NaN  1.9  5.4  21.3  13.822  214.7  6.299
20181226    ...  11.187  9.047  NaN  1.9  5.0  21.3  12.884  228.0  6.299
20181227    ...  11.187  9.047  NaN  1.9  5.3  21.3  13.414  235.0  6.299
20181228    ...  11.187  9.047  NaN  1.9  5.1  21.3  12.477  235.0  6.299

Ticker         YTC
DTYYYYMMDD
20180102    30.236
20180103    34.094
20180104    34.094
20180105    34.094
20180108    34.094
...            ...
20181224    82.441
20181225    82.441
20181226    89.074
20181227    81.398
20181228    91.917

[250 rows x 1665 columns]

In [9]:
data.isnull().values.any()

True

In [10]:
print('Data Shape before cleaning =', data.shape)

missing_percentage = data.isnull().mean().sort_values(ascending=False)
dropped_list = sorted(list(missing_percentage[missing_percentage > 0.2].index))
data.drop(labels=dropped_list, axis=1, inplace=True)

print('Data Shape after cleaning =', data.shape)

Data Shape before cleaning = (250, 1665)
Data Shape after cleaning = (250, 1351)

In [11]:
data = data.fillna(method='ffill')

In [12]:
data.isnull().values.any() #Ở đây filler rồi vẫn bị missing data chưa fix được

True

In [13]:
import numpy as np

#Calculate returns and create a data frame
returns = data.pct_change().mean()*250
returns = pd.DataFrame(returns)
returns.columns = ['returns']

#Calculate the volatility
returns['volatility'] = data.pct_change().std()*np.sqrt(250)

data = returns
data.head()

         returns  volatility
Ticker
AAA    -0.417090    0.399833
AAM     0.425459    0.398103
ABC    -0.259862    0.644626
ABI     0.199386    0.680992
ABT     0.479690    0.479610

In [14]:
data.isnull().values.any() #Lỗi ở trên xuống đây tính bảng returns cũng bị trống ô

True